<!DOCTYPE html>
<html>
  <head>
    <title>ACTPGC | Home</title>
  </head>
  <body>
    <h1>ACTPGC</h1>
    <p>
      This is the home page for the ACT Police Golf Club (ACTPGC)
    </p>
  </body>
</html>
